/* styles.css */

/*overall*/
body {
    /*header title*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 100px;
    background-color: #0e0e0e;
  }
  
  /*colour of stopwatch title*/
  h1 {
    color: #ffffff;
  }
  
  /**/
  #stopwatch {
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border: 1px solid #969696;
    border-radius: 8px;
    display: inline-block;
  }
  /*box size and font*/
  #timer {
    font-size: 3em;
    margin-bottom: 30px;
  }
  
  /*button formatting*/
  button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  